<li>
  <% if current_user.id != user.id %>
  Name: <%= user.name %>
  <span class="profile-link">
    
      <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>

      <%= render 'form' %>
    
  </span>
  <% end %>
</li>